.table-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.788);
}

.table-head {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    width: 100%;
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
}

.table-head-item {
    display: grid;
    padding: 0;
}
