.users-container {
    display: flex;
}

.layout-users-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head-users-container {
    display: flex;
    position: fixed;
    top: 22px;
    right: 40px;
    width: 60vw;
    justify-content:end;
}

.header-users-container {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

