.users-container {
    display: flex;
    gap: 20px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    max-width: 550px;
}